<template>
  <div class="my-4 ml-10 pb-4">
    <v-form
      :id="FORM_ID"
      :ref="FORM_ID"
      v-model="validForm"
      lazy-validation
      @submit.prevent="submitPaymentForm"
    >
      <v-row>
        <v-col cols="12" sm="6">
          <v-text-field
            id="payer_fullname"
            v-model="formData.fullname"
            label="full name"
            outlined
            :rules="rules.fullname"
            dense
            height="40"
            hide-details="auto"
          />
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            id="payer_email"
            v-model="formData.email"
            label="email"
            outlined
            height="40"
            :rules="rules.email"
            dense
            hide-details="auto"
          />
        </v-col>
        <v-col cols="12">
          <div
            class="payer-pan-field"
            :class="{ 'payer-pan-field--error': payerPanField.errorMessage }"
          >
            <label
              for="payer_pan"
              class="v-label theme--light"
              :class="payerPanFieldLabelClass"
              @click="payerPanField.pan.focus()"
            >
              Card number
            </label>
            <div id="payer_pan" />
            <div
              v-if="payerPanField.errorMessage"
              class="theme--light v-messages error--text"
            >
              {{ payerPanField.errorMessage }}
            </div>
          </div>
        </v-col>
        <v-col cols="6">
          <div
            class="payer-pan-expiration-field"
            :class="{
              'payer-pan-expiration-field--error':
                payerPanExpirationField.errorMessage,
            }"
          >
            <label
              for="payer_pan_expiration"
              class="v-label theme--light"
              :class="payerPanExpirationFieldLabelClass"
              @click="payerPanExpirationField.expiration.focus()"
            >
              expiration
            </label>
            <div id="payer_pan_expiration" />
            <div
              v-if="payerPanExpirationField.errorMessage"
              class="theme--light v-messages error--text"
            >
              {{ payerPanExpirationField.errorMessage }}
            </div>
          </div>
        </v-col>
        <v-col cols="6">
          <div
            class="payer-pan-cvv-field"
            :class="{
              'payer-pan-cvv-field--error': payerPanCvvField.errorMessage,
            }"
          >
            <label
              for="payer_pan_cvv"
              class="v-label theme--light"
              :class="payerPanCvvFieldLabelClass"
              @click="payerPanCvvField.cvv.focus()"
            >
              CVV
            </label>
            <div id="payer_pan_cvv" />
            <div
              v-if="payerPanCvvField.errorMessage"
              class="theme--light v-messages error--text"
            >
              {{ payerPanCvvField.errorMessage }}
            </div>
          </div>
        </v-col>
      </v-row>
      <v-btn
        :disabled="!validForm"
        type="submit"
        color="primary"
        block
        :form="FORM_ID"
        @click.prevent="submitPaymentForm"
      >
        Pay
      </v-btn>
    </v-form>
  </div>
</template>

<script>
const EMAIL_VALID_REGEX = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
const SMARTFIELDS_API_KEY = 'f1959a35-b85f-459b-b7ba-745e8b1986bc'

const PAYMENT_CREDIT_CARD = 'credit_card'
const PAYMENT_DEBIT_SEPA = 'direct_debit_sepa'
const PAYMENT_PAYPAL = 'paypal'
const FORM_ID = 'payment-form'

export default {
  head () {
    return {
      script: [
        {
          src: 'https://js-sandbox.dlocal.com/'
        }
      ]
    }
  },
  data () {
    return {
      paymentType: null,
      PAYMENT_CREDIT_CARD,
      PAYMENT_DEBIT_SEPA,
      PAYMENT_PAYPAL,
      FORM_ID,
      validForm: true,
      countrys: [
        {
          text: 'Argentina',
          value: 'argentina'
        },
        {
          text: 'Brasil',
          value: 'brasil'
        },
        {
          text: 'Chile',
          value: 'chile'
        },
        {
          text: 'Colombia',
          value: 'colombia'
        },
        {
          text: 'Ecuador',
          value: 'ecuador'
        },
        {
          text: 'México',
          value: 'mexico'
        },
        {
          text: 'Panamá',
          value: 'panama'
        },
        {
          text: 'Perú',
          value: 'peru'
        },
        {
          text: 'Puerto Rico',
          value: 'puerto-rico'
        },
        {
          text: 'Venezuela',
          value: 'venezuela'
        }
      ],
      activeCouponForm: false,
      dlocalInstance: null,
      payerPanField: {
        pan: null,
        focus: false,
        errorMessage: ''
      },
      payerPanCvvField: {
        cvv: null,
        focus: false,
        errorMessage: ''
      },
      payerPanExpirationField: {
        expiration: null,
        focus: false,
        errorMessage: ''
      },
      formData: {
        email: '',
        fullname: ''
      },
      rules: {
        email: [
          (v) => !!v || 'email_is_required',
          (v) =>
            EMAIL_VALID_REGEX.test(v) || 'message.email_is_invalid'
        ],
        fullname: [(v) => !!v || 'message.password_is_required']
      }
    }
  },
  computed: {
    payerPanFieldLabelClass () {
      return {
        'v-label--input-active': this.payerPanField.focus,
        'primary--text':
          this.payerPanField.focus && !this.payerPanField.errorMessage,
        'error--text':
          this.payerPanField.focus && this.payerPanField.errorMessage
      }
    },
    payerPanCvvFieldLabelClass () {
      return {
        'v-label--input-active': this.payerPanCvvField.focus,
        'primary--text':
          this.payerPanCvvField.focus && !this.payerPanCvvField.errorMessage,
        'error--text':
          this.payerPanCvvField.focus && this.payerPanCvvField.errorMessage
      }
    },
    payerPanExpirationFieldLabelClass () {
      return {
        'v-label--input-active': this.payerPanExpirationField.focus,
        'primary--text':
          this.payerPanExpirationField.focus &&
          !this.payerPanExpirationField.errorMessage,
        'error--text':
          this.payerPanExpirationField.focus &&
          this.payerPanExpirationField.errorMessage
      }
    }
  },
  created () {
    this.dlocalInstance = window.dlocal(SMARTFIELDS_API_KEY)
  },
  mounted () {
    this.createInstanceOfSmartFields()
  },
  methods: {
    createInstanceOfSmartFields () {
      const fields = this.dlocalInstance.fields({
        fonts: [
          {
            cssSrc:
              'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'
          }
        ],
        locale: 'en',
        country: 'BR'
      })

      this.payerPanField.pan = fields.create('pan', {
        style: {
          base: {
            fontSize: '14px',
            fontFamily: "'Roboto', serif",
            lineHeight: '38px',
            fontSmoothing: 'antialiased',
            fontWeight: '400',
            iconColor: '#0190e0',
            '::placeholder': {
              color: '#fff'
            }
          },
          focus: {
            iconColor: '#0190e0',
            '::placeholder': {
              color: '#9e9e9e'
            }
          }
        },
        placeholder: '4111 1111 1111 1111'
        // hideIcon: true
      })
      this.payerPanCvvField.cvv = fields.create('cvv', {
        style: {
          base: {
            fontSize: '14px',
            fontFamily: "'Roboto', serif",
            lineHeight: '38px',
            fontSmoothing: 'antialiased',
            fontWeight: '400',
            iconColor: '#0190e0',
            '::placeholder': {
              color: '#fff'
            }
          },
          focus: {
            iconColor: '#0190e0',
            '::placeholder': {
              color: '#9e9e9e'
            }
          }
        },
        placeholder: '123'
      })
      this.payerPanExpirationField.expiration = fields.create('expiration', {
        style: {
          base: {
            fontSize: '14px',
            fontFamily: "'Roboto', serif",
            lineHeight: '38px',
            fontSmoothing: 'antialiased',
            fontWeight: '400',
            iconColor: '#0190e0',
            '::placeholder': {
              color: '#fff'
            }
          },
          focus: {
            iconColor: '#0190e0',
            '::placeholder': {
              color: '#9e9e9e'
            }
          }
        },
        placeholder: '02/24'
        // hideIcon: true
      })

      this.payerPanField.pan.mount(document.getElementById('payer_pan'))
      this.payerPanCvvField.cvv.mount(document.getElementById('payer_pan_cvv'))
      this.payerPanExpirationField.expiration.mount(
        document.getElementById('payer_pan_expiration')
      )

      this.payerPanField.pan.on('focus', (event) => {
        const { error } = event
        this.payerPanField.focus = true
        this.payerPanField.errorMessage = error?.message || null
      })
      this.payerPanField.pan.on('blur', (event) => {
        const { hasFocus, empty, error } = event
        this.payerPanField.errorMessage = error?.message || null
        this.payerPanField.focus = empty ? hasFocus : !empty
      })
      this.payerPanField.pan.on('change', (event) => {
        const { error } = event
        this.payerPanField.errorMessage = error?.message || null
      })

      this.payerPanCvvField.cvv.on('focus', (event) => {
        const { error } = event
        this.payerPanCvvField.focus = true
        this.payerPanCvvField.errorMessage = error?.message || null
      })
      this.payerPanCvvField.cvv.on('blur', (event) => {
        const { hasFocus, empty, error } = event
        this.payerPanCvvField.errorMessage = error?.message || null
        this.payerPanCvvField.focus = empty ? hasFocus : !empty
      })

      this.payerPanExpirationField.expiration.on('focus', (event) => {
        const { error } = event
        this.payerPanExpirationField.focus = true
        this.payerPanExpirationField.errorMessage = error?.message || null
      })
      this.payerPanExpirationField.expiration.on('blur', (event) => {
        // console.log('event-blur', event)
        const { hasFocus, empty, error } = event
        this.payerPanExpirationField.errorMessage = error?.message || null
        this.payerPanExpirationField.focus = empty ? hasFocus : !empty
      })
    },
    submitPaymentForm () {
      if (!this.$refs[FORM_ID].validate()) return

      this.dlocalInstance
        .createToken(this.payerPanField.pan, {
          name: this.formData.fullname,
          email: this.formData.email
        })
        .then((result) => {
          // Send the token to your server.
          this.dlocalTokenHandler(result.token)
          console.log('submit - valid', result)
        })
        .catch((result) => {
          console.error('Error', result)
          if (result.error) {
            const { param, message } = result.error
            if (param === 'number') {
              this.payerPanField.errorMessage = message || null
            }
            if (param === 'cvv') {
              this.payerPanCvvField.errorMessage = message || null
            }
            if (param === 'expiration') {
              this.payerPanExpirationField.errorMessage = message || null
            }
          }
        })
    },
    dlocalTokenHandler (token) {
      // Insert the token ID into the form so it gets submitted to the server
      const form = document.getElementById('payment-form')
      const tokenInput = document.createElement('input')
      tokenInput.setAttribute('type', 'hidden')
      tokenInput.setAttribute('name', 'dlocalToken')
      tokenInput.setAttribute('value', token)
      form.appendChild(tokenInput)

      // Submit the form
      // form.submit()
    }
  }
}
</script>
