<template>
  <v-app>
    <v-main>
      <DLocalForm/>
    </v-main>
  </v-app>
</template>

<script>
import DLocalForm from './components/DLocalForm'

export default {
  name: 'App',

  components: {
    DLocalForm
  },

  data: () => ({
    //
  })
}
</script>
